body{
    margin: 0;
    width: 100vw;
    background-color: #FFFFFFCC;
}
*{
    box-sizing: border-box;
    
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid;
    color:#DCDCDC;
}
.logo{
    display: flex;
    padding-left: 225px;
    padding-top: 20px;
}
.logo img{
    width: 170px;
    
}
.logo a{
    padding-left: 33px;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight: 500;
    color:#6F6F6F;
    letter-spacing: .1ch;
}
.right{
    width: 30%;
    max-width: 1184px;
    padding-right: 2rem;
    padding-top: 15px;
    margin-left: 0;
    margin-right: 60px;
    display: flex;
    margin-bottom: 0;
    position: relative; 
    
}
.right ul{
    display: inline-flex;
    list-style: none;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    
}
.right ul li{
    
    width: 80px;
    margin: 8px;
    color: #EC1D24;
    letter-spacing: -1px;
    
}
.right ul li a{
    text-decoration: none;
    color:#BDBFD4;
    border-left: 1px solid #000000;
    padding-left: 8px;
    font-weight: lighter;
}
.right ul li a:hover{
    color: #ec1d24;
    transition: .3s;
}
.right ul li img{
    width: 43px;
    height: 23px;
    padding-left: 10px;
    
}
.right ul li.language{
    margin-left: -20px;
}
.image-1{
    width: 1519.2px;
    height: 593.44px;
}
.menu-bar{
    z-index: 3;
    width: 100%;
    height: 70px;
    padding: 0;
    margin: 0 -15px;
    padding-top: 5px;
    padding-left: 190px;
    padding-right: 220px;
    border-bottom: 0;
    background-color: #353535;
    position: sticky;
    top: 0;
}
.menu-bar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu-bar ul li a{
    text-decoration: none;
    cursor: pointer;
    font-family: "Lato", sans-serif;
    color:white;
    font-size: 18px;
}
.menu-bar ul li a:hover{
    cursor: pointer;
    color: #EC1D24;
    transition: .3s;
}
.image-1{
    display: block;
    width: 100%;
    vertical-align: middle;
}
.column img{
    
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    position: relative;
    padding-bottom: -20px;
    }
.column a{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #353535;
    background-color: transparent;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    
}
.column-1 {
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 100px;
    height: auto;
    background-color: 
    #fafafa;
   
}
.column-1 a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #fff;
    padding-top:-10px ;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.column-1::after{
    content: "";
    display: table;
    clear: both;
}
.column-1 a:hover{
    color: #EC1D24;}

.column{
    position: relative;
    bottom:30px;
}
.column-2{
 
    display:  flex;
    width: 120%;
    padding-left: 250px;
    height: 100%;
    background-color:#fafafa;
    
}
.column-2 img{
    
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    position: relative;
    padding-bottom: -20px;
    padding-left: 20px;
}
.column-2 a{
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #353535;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    text-decoration: none;
    width: 500%;
    flex-direction: row;
    justify-content: center;
    background-color: #fff;
    padding-top: 30px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}
.column-2 a:hover{
    color: #EC1D24;
    transition: .3s;
}
h3{
    text-align: center;
    font-family:"Lato", sans-serif;
    font-weight: lighter;
    font-size: 17px;
    padding-top: 90px;
    padding-left: -20px;
    position: relative;
    display: flex;
    left:-700px;
    width: 400%;
    box-sizing: border-box;
}
.viewproduct{
    text-align: center;
}    
.viewproduct a{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family:sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    border-radius: 60px;
    text-decoration: none;
    left: px;
    bottom: 80px;
}
.viewproduct a:hover{
   background-color: #8B0000;
   transition: .3s;
}
.viewmore{
    padding-top: -10px;
    text-align: right;
    padding-top: 150px;
    padding-right: 50px;
    background-color: #fafafa;
}
.viewmore a{
 
    position: relative;
    color: red;
    font-size: 14px;
    font-family:sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 60px;
    text-decoration: none;
    bottom: 80px;
}
.viewmore a:hover{
    border: 2px solid;
    color: red;
}
.news{
    text-align: left;
    font-size: 32px;
    background-color:#fafafa;
    padding-left: 140px;

}
.news a{
    position: relative;
    font-family: "Lato", sans-serif;
    color: black;
    left: 110px;
    text-decoration: none;
    background-color: transparent;
}
.news-2{
    background-color: #fafafa;
    padding-left: 250px;
    padding-top: 30px;
    
}
.news-2 img{
    width: 1200px;
    height: 420px;
    border-radius: 20px;
    
}
.readmore{
    text-align: center;
    font-weight: 600;
}    
.readmore a{
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family:sans-serif;
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 19px;
    background-color: red;
    border-radius: 60px;
    text-decoration: none;
    left: 112px;
    bottom: 130px;
}
.readmore a:hover{
   background-color: #8B0000;
   transition: .3s;
}
.news-3{

    background-color: #fafafa;
    padding-left: 250px;
    padding-top: 30px;
    
}
.news-3 img{
    width: 1200px;
    height: 500px;
    border-radius: 20px;
}
.viewmore-news{
    padding-top: -10px;
    text-align: right;
    padding-top: 150px;
    padding-right: 50px;
    background-color: #fafafa;
}
.viewmore-news a{
 
    position: relative;
    color: red;
    font-size: 14px;
    font-family:sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-radius: 60px;
    text-decoration: none;
    bottom: 80px;
}
.viewmore-news a:hover{
    border: 2px solid;
    color: red;
}
.footer{
    background-color: #fff;
    box-sizing: border-box;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    width: 91%;
    list-style: none;
    font-family:"Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #999;
    font-weight: 700;
    padding-left: 170px;

}
.footer-content a{
    text-decoration: none;
    color: #353535;
}
.footer-content a:hover{
    color: #EC1D24;
    transition: .3s;
}
.footer-parent{
    display: flex;
    position: relative;
}
.company{
    width: 26%;
    position: relative;
}
.list-1{
    list-style: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding-left: 265px;
}
.list-1 li{
    height: 100%;
    margin: 10px;
}.list-1 a{
    text-decoration: none;
    color: #000000;
}
.list-1 a:hover{
    color: #EC1D24;
    transition: .3s;
}
.list-2{
    list-style: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding-left: 0;    
}

.list-2 li{
    width: 50%;
    height: 100%;
    margin: 10px;

}
.list-2 a{
    text-decoration: none;
    color: #000000;
}
.list-2 a:hover{
    color: #EC1D24;
    transition: .3s;
}
.list-3{
    list-style: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding-left: 35px;
    
}

.list-3 li{
    width: 1000%;
    height: 100%;
    margin: 10px;

}
.list-3 a{
    text-decoration: none;
    color: #000000;
}
.list-3 a:hover{
    color: #EC1D24;
    transition: .3s;
}
.list-4{
    list-style: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding-left: 15px;
    
}

.list-4 li{
    width: 100%;
    height: 100%;
    margin: 10px;
}
.list-4 a{
    text-decoration: none;
    color: #000000;
}
.list-4 a:hover{
    color: #EC1D24;
    transition: .3s;
}
.list-5{
    list-style: none;
    color: #000000;
    font-family: "Lato", sans-serif;
    padding-left: 50px;
    
}

.list-5 li{
    width: 100%;
    height: 100%;
    margin: 10px;

}
.list-5 a{
    text-decoration: none;
    color: #000000;
}
.list-5 a:hover{
    color: #EC1D24;
    transition: .3s;
}